<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hóa Đơn</title>
    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet"/>
    <link href="fontawesome-free-5.9.0-web/css/all.min.css" rel="stylesheet"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
        *{
            background:blight;
        }
        .footer{
        background:linear-gradient(#0099FF,#B4D8E8);
        margin:0;
        padding:20px;
        }
        .footer>p{
            margin:0;
            padding:0px;
            font-size:20px;

            text-align:center;
        }
        .main{
        margin:0 auto;
        width:80%;
        background-color:#FFF;
        position:relative;
        }

    </style>
</head>
<body style="background-image:url('static/images/background.jpg')">
<div class="head d-flex" style="background:linear-gradient(#0099FF,#B4D8E8); height=20px " >
	<div class="img p-2"><img src="{{ url_for('static',filename='images/ico hospital.png') }}" width="80" height="50px"/></div>
    {% if current_user.is_authenticated %}
        <div>
          <input type="button" value="Đăng xuất" class="btn btn-danger">
        </div>
    {% else %}
        <div class="p-2" style="height=20px">
            <ul>
                <li class="flex-row-reverse" ><a href="{{ url_for('login_admin') }}">Đăng Nhập</a></li>
            </ul>
        </div>
    {% endif %}
</div>



<ul class="menu list-group list-group-horizontal d-flex nav nav-tabs" role="tablist" style="background:#0099FF">
    <li><i class="fas fa-home text-dark"></i></li>
    <li ><a class="nav-link text-dark" href="{{ url_for('index') }}">Trang Chủ</a></li>
    <li class=" nav-item"><a class="nav-link text-dark" href="{{ url_for('BenhNhan') }}">Bệnh Nhân</a></li>
    <li class="nav-item"><a class="nav-link text-dark" href="{{ url_for('DonThuoc') }}">Đơn Thuốc</a></li>
    <li class="nav-item"><a class="nav-link text-dark" href="{{ url_for('HoaDon') }}">Hóa Đơn</a></li>
    <li class="nav-item"><a a class="nav-link text-dark" href="{{ url_for('Thuoc') }}">Thuốc</a></li>
   <li class="nav-item dropdown">
        <a data-toggle="dropdown" class="nav-link dropdown-toggle text-dark" >Báo Cáo</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{{ url_for('ds_kham') }}">Danh sách khám bệnh</a>
          <a class="dropdown-item" href="{{ url_for('BaoCao') }}">Doanh thu</a>
        </div>
    </li>
    <li class="nav-item flex-grow-1"></li>
</ul>
<div class="d-flex bd-highlight">
    <div class="p-2 border w-20 bd-highlight"></div>
    <div class="p-2 flex-grow-1 bd-highlight">
        <div>
            <label>Thông tin bệnh nhân: </label>
            <ul>
                <li><a></a></li>
                <li><a></a></li>
            </ul>
        </div>
        <div>
            <table class="table table-bordered">
                <tr>
                    <th>#</th>
                    <th>Thuốc</th>
                    <th>Bác Sĩ</th>
                    <th>Số lượng</th>
                    <th>Đơn Giá</th>
                    <th>Tổng Cộng</th>
                    <th></th>
                </tr>

                <tr>
                    {% for t in bill %}
                    <td></td>
                    <td>{{ t.mathuoc_id }}</td>
                    <td>{{ t.nhanvien_id }}</td>
                    <td>{{ t.soLuong }}</td>
                    <td>{{ t.donGia }}</td>
                    <td>{{ t.donGia * t.soLuong }}</td>
                    <td><button>x</button></td>
                    {% endfor %}
                </tr>
                <tr>
                    <td colspan="5" >Tổng hóa đơn thuốc:</td>
                    <td></td>
                    <td><button>x</button></td>
                </tr>
            </table>
        </div>

        <div>
            <textarea class="fas fa-note" cols="50" rows="10" placeholder="Ghi chú"></textarea>
        </div>
        <div>
            <input type="submit" value="Lưu" class="btn btn-primary">
        </div>
    </div>
</div>
<div class="footer">
        <p>Phòng Khám Mạch &copy; 2020</p>
</div>
</body>
</html>