{% extends 'admin/master.html' %}

{% block body %}
<ul class="list-group text-white">
    <li class="list-group-item bg-secondary">
        Tên SV: ĐẶNG HỮU TRỌNG
    </li>
    <li class="list-group-item bg-secondary">MSSV: 1851050158</li>
    <li class="list-group-item bg-secondary ">Email: 1851050158trong@ou.edu.vn</li>
    <li class="list-group-item bg-secondary">Khoa: Công Nghệ Thông Tin</li>
    <li class="list-group-item bg-secondary">Trường: Đại học Mở Tp. Hồ Chí Minh</li>
</ul>
{% endblock %}